<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="refresh" content="300">
	<style type="text/css">
		body {
			background: #0b0b0b;
			margin: 0;
			padding: 0;
			color: #fff;
			font-family: Verdana;
			font-size: 16px;
		}

		main {
			margin-top: 120px;
		}

		.left {
			position: absolute;
			left: 0;
			top: 0;
			height: 100px;
		}

		.right {
			position: absolute;
			right: 0;
			top: 0;
			height: 100px;
		}

		.center {
			position: absolute;
			left: 50%;
			margin-left: -223px;
			top: 0;
			height: 100px;
		}

		.werbung {
			position: absolute;
			left: 0;
			bottom: 0;
		}

		table {
			width: 90%;
			margin: auto;
		}

		td {
			padding: 5px;
		}
	</style>
</head>
<body>
	<header>
		<img src="links.png" class="left" />
		<img src="mitte.png" class="center" />
		<img src="rechts.png" class="right" />
	</header>
	<main>
		<table>
			<tr>
				<th>Uhrzeit</th>
				<th>Von</th>
				<th>Bus</th>
			</tr>
			{% for journey in info %}
			<tr>
				<td>{{ journey.departure|date("d.m G:i") }}</td>
				<td>{{ journey.origin }}</td>
				<td>{{ journey.name }}</td>
			</tr>
			{% endfor %}
		</table>
	</main>

	<img src="werbung.png" class="werbung" />
</body>
</html>
